@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Noto+Serif+SC:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Noto Serif SC", serif;
}

.serif {
  font-family: var(--font-serif);
}

body {
  background-color: #FFFBEB;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFFBEB;
}

::-webkit-scrollbar-thumb {
  background: #FEF3C7;
  border-radius: 10px;
  border: 3px solid #FFFBEB;
}

::-webkit-scrollbar-thumb:hover {
  background: #FDE68A;
}
